Repository galliotl/Barty, pull requests merged in 2020-03, with the labels that each got.

#29 Les infos des users ne sont plus stockées dans des arrays mais bien d…
  backend/src/db/models/user.ts
Labels: Backend :man_technologist:, bug

#28 Fixes verifyAuth
  backend/src/controllers/auth.ts
  backend/src/middleware.ts
Labels: Backend :man_technologist:, bug, ready for review :revolving_hearts:

#40 added tests for middleware and auth functions #39
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/auth.ts
  backend/src/index.ts
  backend/src/middleware.ts
  backend/src/test/authController.spec.ts
  backend/src/test/middleware.spec.ts
Labels: Backend :man_technologist:, DevOps :oncoming_automobile:, enhancement, ready for review :revolving_hearts:

#42 Lorenzo
  app/lib/ui/pages/bar/BarPage.dart
  backend/src/controllers/bars.ts
  backend/src/db/models/bar.ts
  backend/src/db/models/time.ts
Labels: Amelioration, Backend :man_technologist:

#44 Lorenzo
  backend/src/controllers/bars.ts
  backend/src/index.ts
  backend/src/middleware.ts
Labels: Amelioration, Backend :man_technologist:

#47 Date création et #36
  backend/package-lock.json
  backend/src/controllers/bars.ts
  backend/src/db/models/bar.ts
  backend/src/db/models/time.ts
  backend/src/index.ts
Labels: Amelioration, Backend :man_technologist:

#46 Regex model
  backend/src/controllers/auth.ts
  backend/src/controllers/bars.ts
  backend/src/index.ts
  backend/src/middleware.ts
  backend/src/test/regex.spec.ts
  backend/src/utils/regex.ts
Labels: Amelioration, Backend :man_technologist:

#49 Auth resilliency closes #45
  backend/src/controllers/auth.ts
  backend/src/controllers/bars.ts
  backend/src/db/models/user.ts
  backend/src/middleware.ts
  backend/src/test/authController.spec.ts
Labels: Amelioration, Backend :man_technologist:
